#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.thecode{
  display: flex;
  align-items: center;
  flex-direction: column;

}

input{
  border: none;
  border-bottom: 1px solid white;
  width: 211px;
  height: 31px;
}